container_commands:
  01_copy_livewire_js:
    command: "cp vendor/livewire/livewire/dist/livewire.min.js public/js/livewire.min.js"
    leader_only: false
  02_optimize_clear:
    command: "php artisan optimize:clear"
    leader_only: true
  03_storage_link:
    command: "php artisan storage:link --force"
    leader_only: true
  04_migrate:
    command: "php artisan migrate --force"
    leader_only: true
